*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  padding: 2.5em;
  font-family: monospace;
}

h1{
  margin: 4px;
}

ul{
  margin-top: 1em;
  list-style: none;
}

ul li{
  margin: 1em;
}

button{
  margin: 1em;
  padding: 1em;
  border-radius: 0.5em;
  border: none;
  outline:none;
  background: linear-gradient(90deg, #a456ff, #db7ee2);
  cursor: pointer;

}

.AddCategory{
  padding: 1em;
}

.AddCategory input{
  padding: 0.5em;
  border-radius: 8px;
  border: none;
  outline: none;
  color: gray;
  font-weight: 700;
  letter-spacing: 1px;
}

.gifcard{
  padding: 1em;
  width: 50%;
}

.gifcard img{
  width: 100%;
  max-width: 350px;
}

.gifcard h4{
  padding: 0.5em;
  font-size: 1rem;
}
